* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #FFFFFF;
  color: #222222;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
}

h1{
  margin: 20px;
}

h4{
  margin-left: 20px;
}

nav{
  height: 60px;
  width: 100%;
  line-height: 60px;
  text-align: right;
  background-color: #639FAB;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

#contactList{
  background-color: #64A5E3;
  margin: 0px;
}

a{
  text-decoration: none;
  color: #222222;
}


img {
  height: auto;
  display: block;
  margin: 20px auto;
  border: 5px solid #222222;
}

#profile{
  width: 300px;
}

#workImg{
  width: 500px;
}

p {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

figcaption {
  text-align: center;
  padding-bottom: 20px;
}

section{
  background-color: #BBCDE5;
  padding: 20px 10px 40px 10px;
}